In [6]:
people = {
    "Name": ["Arsalan", "Farhan", "Adnan"],
    "Hobby": ["Coding", "Cycling", "Marketing"],
    "Email": ["arsalan1234@hotmail.com", "farhan124423@yahoo.com", "adnan23434@gmail.com"]
}

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(people)

In [9]:
df

      Name      Hobby                    Email
0  Arsalan     Coding  arsalan1234@hotmail.com
1   Farhan    Cycling   farhan124423@yahoo.com
2    Adnan  Marketing     adnan23434@gmail.com

In [10]:
df['Hobby'] == "Coding" # first method of filter

0     True
1    False
2    False
Name: Hobby, dtype: bool

In [19]:
fltr = (df['Hobby'] == "Coding")

In [21]:
df[fltr]

      Name   Hobby                    Email
0  Arsalan  Coding  arsalan1234@hotmail.com

In [27]:
df.loc[fltr] # second method of filter

      Name   Hobby                    Email
0  Arsalan  Coding  arsalan1234@hotmail.com

In [28]:
df.loc[fltr, "Email"] # third method of filter finding only email of filtered object

0    arsalan1234@hotmail.com
Name: Email, dtype: object

In [56]:
fltran = (df['Hobby'] == "Coding") & (df['Name'] == "Arsalan") # and

In [57]:
df.loc[fltran]

      Name   Hobby                    Email
0  Arsalan  Coding  arsalan1234@hotmail.com

In [58]:
fltror = (df['Hobby'] == "Marketing") | (df['Name'] == "Farhan") # or

In [55]:
df.loc[fltror]

     Name      Hobby                   Email
1  Farhan    Cycling  farhan124423@yahoo.com
2   Adnan  Marketing    adnan23434@gmail.com

In [60]:
df.loc[-fltror] # negative filter eg not marketing or not farhan

      Name   Hobby                    Email
0  Arsalan  Coding  arsalan1234@hotmail.com