In [1]:
people = {
    "Name": ["Arsalan", "Farhan", "Adnan"],
    "Hobby": ["Coding", "Cycling", "Marketing"],
    "Email": ["arsalan1234@hotmail.com", "farhan124423@yahoo.com", "adnan23434@gmail.com"]
}

import pandas as pd

df = pd.DataFrame(people)

In [2]:
df

      Name      Hobby                    Email
0  Arsalan     Coding  arsalan1234@hotmail.com
1   Farhan    Cycling   farhan124423@yahoo.com
2    Adnan  Marketing     adnan23434@gmail.com

In [7]:
df.sort_values(by = "Name", ascending = True) # sort by name by ascending

      Name      Hobby                    Email
2    Adnan  Marketing     adnan23434@gmail.com
0  Arsalan     Coding  arsalan1234@hotmail.com
1   Farhan    Cycling   farhan124423@yahoo.com

In [8]:
df.sort_values(by = "Name", ascending = False) # sort by name by Descending

      Name      Hobby                    Email
1   Farhan    Cycling   farhan124423@yahoo.com
0  Arsalan     Coding  arsalan1234@hotmail.com
2    Adnan  Marketing     adnan23434@gmail.com

In [9]:
df.sort_values(by = ["Name", "Hobby"], ascending = False) # sort by name by Descending multiple columns

      Name      Hobby                    Email
1   Farhan    Cycling   farhan124423@yahoo.com
0  Arsalan     Coding  arsalan1234@hotmail.com
2    Adnan  Marketing     adnan23434@gmail.com

In [12]:
df.sort_values(by = ["Name", "Hobby"], ascending = [True, False], inplace = True) # sorting multiple columns with different sort

In [13]:
df

      Name      Hobby                    Email
2    Adnan  Marketing     adnan23434@gmail.com
0  Arsalan     Coding  arsalan1234@hotmail.com
1   Farhan    Cycling   farhan124423@yahoo.com